<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>BURGERS!!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-uhut8PejFZO8994oEgm/ZfAv0mW1/b83nczZzSwElbeILxwkN491YQXsCFTE6+nx"
    crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <script src="/assets/js/burgers.js"></script>
</head>

<body>
  <div class="container">
    {{{ body }}}
  </div>
</body>

</html>